@{
    ViewData["Title"] = "Test Data Submitted...";
}
<h2>@ViewData["Title"]</h2>


<head><meta http-equiv="Refresh" content="5; url=/SurveySite/Testing" /></head>


Returning to the test list page in 5...