@model ViewTestsViewModel
@{
    ViewData["Title"] = "ViewTests";
}

<h2>ViewTests</h2>

<body>


    @{
       
        <table class="table">
            <tbody>
                @for (var index = 0; index < Model.TestsList.Count; index++)
                    {
                    <tr>

                        <td>

                            <form asp-controller="Testing" asp-action="Test" method="post" class="form-horizontal">
                                <div>
                                    <input asp-for="@Model.TestsList[index].TestID" name="TestID" type="hidden" />
                                    <input type="submit" class="btn btn-default" value='@Model.TestsList[index].TestName' />
                                </div>
                            </form>

                        </td>
                    </tr>
                    }
            </tbody>
        </table>
        <form asp-controller="Testing" asp-action="DebugAction" method="post" class="form-horizontal">
            <div>
               
                <input type="submit" class="btn btn-default" value="DebugAction" />
            </div>
        </form>



    }



</body>